@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: azure;
    color:brown;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.header {
    background-color: aqua;
    padding: 25px 100px;
    font-weight: 900;
}

main {
    margin: 50px 100px;
    width: 50%;
    float: left;
}

aside {
    width: 20%;
    margin-top: 50px;
    margin-left: 5%;
    float: left;
}

main .user {
    margin-bottom: 50px;
    background-color: bisque;
    padding: 20px;
}